// colors
$colors: (
  bg: #bdbbbe,
  main: #333,
  grey: #888,
  black: #ffffff,
);

// screens
$breakpoints: (
  sm: 767px,
  md: 991px,
  lg: 1100px,
);

// mobileScreen
@mixin smMin {
  @media (min-width: map-get($breakpoints,sm)) {
    @content;
  }
}

@mixin smMax {
  @media (max-width: map-get($breakpoints,sm)) {
    @content;
  }
}

//midScreen
@mixin mdMin {
  @media (min-width: map-get($breakpoints,md)) {
    @content;
  }
}

@mixin mdMax {
  @media (max-width: map-get($breakpoints,md)) {
    @content;
  }
}

//largeScreen
@mixin lgMin {
  @media (min-width: map-get($breakpoints,lg)) {
    @content;
  }
}

@mixin lgMax {
  @media (max-width: map-get($breakpoints,lg)) {
    @content;
  }
}
