@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
  width: 0;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: transparent;
  }
}

html {
  font-size: 16px;

  @include mdMax {
    font-size: 14px;
  }

  @include smMax {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-1: map-get(
  $map: $colors,
  $key: color-1,
);

body {
  background-color: map-get($map: $colors, $key: bg);
  color: map-get($map: $colors, $key: color-1);
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  a {
    text-transform: capitalize;
    padding: 6px 10px;
    border-radius: 40px;
    text-decoration: none;
    border: 1px solid;
    color: map-get($map: $colors, $key: color-3);
    transform: 0.5s;

    &:hover {
      background-color: map-get($map: $colors, $key: color-2);
      color: $color-1;
    }

    span {
      font-weight: bold;
    }
  }
}

main {
  flex-grow: 1;

  h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.625rem;
    padding-top: 0.9375rem;
    user-select: none;
  }

  p {
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    user-select: none;
  }

  .timeline {
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-color: transparent transparent;

    ol {
      font-size: 0;
      min-width: 100vw;
      padding: 15rem 0;

      li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        width: 10rem;
        height: 0.1875rem;

        &:last-child {
          width: 100%;
        }

        &:not(:first-child) {
          margin-left: 0.875rem;
        }

        &:not(:last-child)::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 0.0625rem);
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
        }

        &:nth-child(odd) div {
          top: -1rem;
          transform: translateY(-100%);
        }

        &:nth-child(odd) div::before {
          top: 100%;
          border-width: 0.5rem 0.5rem 0 0;
        }

        &:nth-child(even) div {
          top: calc(100% + 1rem);
        }

        &:nth-child(even) div::before {
          top: -0.5rem;
          border-width: 0.5rem 0 0 0.5rem;
        }

        div {
          position: absolute;
          left: calc(100% + 0.4375rem);
          width: 17.5rem;
          padding: 0.9375rem;
          font-size: 1rem;
          white-space: normal;
          color: map-get($map: $colors, $key: color-3);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transition: 0.1s;
          user-select: none;

          &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
          }

          .title {
            margin-bottom: 0.6rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            user-select: none;
            text-transform: uppercase;
          }

          .date {
            font-size: 0.8rem;
            margin-bottom: 0.6rem;
            color: map-get($map: $colors, $key: color-2);
            user-select: none;
            text-transform: uppercase;
          }
        }
      }
    }

    &#courses {
      $color-theme: map-get(
        $map: $colors,
        $key: color-4,
      );

      ol {
        li {
          background: $color-theme;

          &:not(:last-child)::after {
            background: $color-theme;
          }

          &:nth-child(odd) div::before {
            border-color: $color-theme transparent transparent transparent;
          }

          &:nth-child(even) div::before {
            border-color: transparent transparent transparent $color-theme;
          }

          div {
            background: $color-theme;
          }
        }
      }
    }

    &#frontend,
    &#backend,
    &#fullstack,
    &#flutter {
      $color-theme: map-get(
        $map: $colors,
        $key: color-1,
      );

      ol {
        li {
          background: $color-theme;

          &:not(:last-child)::after {
            background: $color-theme;
          }

          &:nth-child(odd) div::before {
            border-color: $color-theme transparent transparent transparent;
          }

          &:nth-child(even) div::before {
            border-color: transparent transparent transparent $color-theme;
          }

          div {
            background: $color-theme;
          }
        }
      }
    }
  }
}

footer {
  background-color: $color-1;
  text-align: center;
  padding: 2rem 0;

  h1 {
    font-size: 1rem;
  }

  a {
    display: inline-block;
    margin: 0.3125rem;
  }
}
